nav >ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 10px 5px ;

}

nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}

nav li:hover{
    background-color: coral;

}

.drop-down{
    display: none;

}

nav >ul>li:hover>ul{
    display: block;
    position: absolute;
    background-color: aqua;
    padding: 0px;

}
 
.drop-down{
    padding: 0px;

}